name: Build and push Docker image for jacodb.org

on:
  push:
    branches:
      - main


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: unittestbot/jacodb

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'liberica'
          java-package: jdk+fx

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4.2

      - name: Build with Gradle
        run: gradle clean bootJar

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        if: ${{ github.event_name != 'pull_request' }}
        with:
          push: true
          tags: ghcr.io/${{ env.IMAGE_NAME }}:${{ github.sha }}
          context: .
          file: jacodb-http/Dockerfile
          build-args: |
            JAR_FILE=jcdb-http/build/libs/jacodb-http-demo.jar
