# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build and run tests

on:
  push:
    branches:
      - main
      - '*/feature-**'
  pull_request:
    branches:
      - main

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  jdk11:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.0.2
      - name: Build and run tests
        run: |
          gradle clean build --no-daemon --info
#      - name: Upload build reports
#        uses: actions/upload-artifact@v3
#        with:
#          name: test-results
#          path: build/test-results/
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: "build/test-results/**/*.xml"

  jdk8:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'zulu'
          java-package: jdk+fx
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.0.2
      - name: Build and run tests
        run: |
          gradle clean build --no-daemon --info
#      - name: Upload build reports
#        uses: actions/upload-artifact@v3
#        with:
#          name: test-results
#          path: build/test-results/
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: "build/test-results/**/*.xml"
